<div class="container">
  <form [formGroup]="actividadForm" (ngSubmit)="agregarActividad()">
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Actividades Felinos:</label>
          <input formControlName="actividades_felinos" type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Actividades Caninos:</label>
          <input formControlName="actividades_canidos" type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Actividades Aves:</label>
          <input formControlName="actividades_aves" type="text" class="form-control">
        </div>


        <button *ngIf="!id" type="submit" class="btn btn-primary">Crear Actividad</button>
        <button *ngIf="id" type="submit" class="btn btn-primary">Editar Actividad</button>
      </form>

</div>
